@import "tailwindcss";

:root {
  --background: #0b0f14;
  --foreground: #0b0f14;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
